In [12]:
import pandas as pd


df = pd.read_csv("./train.csv")

df.drop(['PassengerId','Name','Ticket','Cabin'],axis=1).to_csv("./train_titanic.csv",index=False)

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [1]:
import os.path
import sys

sys.path.append(os.path.abspath(os.path.join(os.path.abspath(''),os.path.pardir)))

from datk.model import ModelTrainer

# ModelTrainer.create_init_config_file(model_name='RandomForest',target='Survived')

In [2]:
m = ModelTrainer(cmd='fit',data_path="./train_titanic.csv",yaml_path="./model.yaml")

INFO - Entered kwargs: {'cmd': 'fit', 'data_path': './train_titanic.csv', 'yaml_path': './model.yaml'}
INFO - You passed the configurations as a yaml file.
INFO - your chosen configuration: {'dataset': {'preprocess': {'encoding': {'type': 'oneHotEncoding', 'column': 'Sex'}, 'missing_values': 'mean', 'scale': {'method': 'standard', 'target': 'inputs'}}, 'split': {'shuffle': True, 'test_size': 0.2}, 'type': 'csv'}, 'model': {'algorithm': 'RandomForest', 'type': 'classification'}, 'target': ['Survived']}
INFO - dataset_props: {'preprocess': {'encoding': {'type': 'oneHotEncoding', 'column': 'Sex'}, 'missing_values': 'mean', 'scale': {'method': 'standard', 'target': 'inputs'}}, 'split': {'shuffle': True, 'test_size': 0.2}, 'type': 'csv'}
model_props: {'algorithm': 'RandomForest', 'type': 'classification'}
 target: ['Survived']

INFO - dataset shape: (891, 8)
INFO - dataset attributes: ['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
INFO - performing a one hot encoding ...
INFO - shape of the dataset after encoding => (891, 11)
INFO - Check for missing values in the dataset ...
Survived        0
Pclass          0
Age           177
SibSp           0
Parch           0
Fare            0
Sex_female      0
Sex_male        0
Embarked_C      0
Embarked_Q      0
Embarked_S      0
dtype: int64
 ----------------------------------------------------------------------------------------------------
INFO - shape of the dataset after handling missing values => (891, 11)
INFO - y shape: (891, 1) and x shape: (891, 10)
INFO - performing a standard scaling ...

TypeError: cannot unpack non-iterable NoneType object

In [ ]:
sys.path