In [2]:
import pandas as pd


df = pd.read_csv("./train.csv")

df.drop(['PassengerId','Name','Ticket','Cabin'],axis=1).to_csv("./train_titanic.csv",index=False)

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
df_test = pd.read_csv("./test.csv")
df_test.drop(['PassengerId','Name','Ticket','Cabin'],axis=1).to_csv("./test_titanic.csv",index=False)
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [11]:
import os.path
import sys

sys.path.append(os.path.abspath(os.path.join(os.path.abspath(''),os.path.pardir)))

from datk.model import ModelTrainer

# ModelTrainer.create_init_config_file(model_name='RandomForest',target='Survived')

In [12]:
ModelTrainer(cmd='fit',data_path="./train_titanic.csv",yaml_path="./model.yaml")

INFO - Entered kwargs: {'cmd': 'fit', 'data_path': './train_titanic.csv', 'yaml_path': './model.yaml'}
INFO - You passed the configurations as a yaml file.
INFO - your chosen configuration: {'dataset': {'preprocess': {'encoding': {'type': 'oneHotEncoding', 'column': 'Sex'}, 'missing_values': 'mean', 'scale': {'method': 'standard', 'target': 'inputs'}}, 'split': {'shuffle': True, 'test_size': 0.2, 'stratify': 'default'}, 'type': 'csv'}, 'model': {'algorithm': 'RandomForest', 'type': 'classification', 'cross_validate': {'cv': 3, 'verbose': 1}, 'arguments': {'n_estimators': 100, 'max_depth': 30}}, 'target': ['Survived']}
INFO - dataset_props: {'preprocess': {'encoding': {'type': 'oneHotEncoding', 'column': 'Sex'}, 'missing_values': 'mean', 'scale': {'method': 'standard', 'target': 'inputs'}}, 'split': {'shuffle': True, 'test_size': 0.2, 'stratify': 'default'}, 'type': 'csv'}
model_props: {'algorithm': 'RandomForest', 'type': 'classification', 'cross_validate': {'cv': 3, 'verbose': 1}, 'arguments': {'n_estimators': 100, 'max_depth': 30}}
 target: ['Survived']

INFO - dataset shape: (891, 8)
INFO - dataset attributes: ['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
INFO - performing a one hot encoding ...
INFO - shape of the dataset after encoding => (891, 13)
INFO - Check for missing values in the dataset ...
Survived          0
Pclass            0
Age             177
SibSp             0
Parch             0
Fare              0
Sex_female        0
Sex_male          0
Sex_nan           0
Embarked_C        0
Embarked_Q        0
Embarked_S        0
Embarked_nan      0
dtype: int64
 ----------------------------------------------------------------------------------------------------
INFO - shape of the dataset after handling missing values => (891, 13)
INFO - y shape: (891, 1) and x shape: (891, 12)
INFO - performing a standard scaling ...
INFO - Solving a classification problem using ===> RandomForest
INFO - model arguments:
{'n_estimators': 100, 'max_depth': 30}
INFO - executing a RandomForestClassifier algorithm...
INFO - performing cross validation ...
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.5s finished
INFO - creating model_results folder to save results...
path of the results folder: /Users/rsun/projects/code/pydatoolkit/examples/examples/model_results
ERROR - Creating the directory /Users/rsun/projects/code/pydatoolkit/examples/examples/model_results failed
Traceback (most recent call last):
  File "/Users/rsun/projects/code/pydatoolkit/datk/model.py", line 161, in _save_model
    os.mkdir(self.results_path)
FileNotFoundError: [Errno 2] No such file or directory: '/Users/rsun/projects/code/pydatoolkit/examples/examples/model_results'
INFO - split option detected. The performance will be automatically evaluated using the test data portion
INFO - Calculating accuracy_score .....
INFO - type of target: binary
INFO - Calculating f1_score .....
INFO - type of target: binary
INFO - Calculating precision_score .....
INFO - type of target: binary
INFO - Calculating recall_score .....
INFO - type of target: binary
INFO - Calculating roc_auc_score .....
INFO - type of target: binary
INFO - saving fit description to /Users/rsun/projects/code/pydatoolkit/examples/examples/model_results/description.json
ERROR - Error while storing the fit description file: [Errno 2] No such file or directory: '/Users/rsun/projects/code/pydatoolkit/examples/examples/model_results/description.json'
Traceback (most recent call last):
  File "/Users/rsun/projects/code/pydatoolkit/datk/model.py", line 433, in fit
    with open(self.description_file, 'w', encoding='utf-8') as f:
FileNotFoundError: [Errno 2] No such file or directory: '/Users/rsun/projects/code/pydatoolkit/examples/examples/model_results/description.json'

In [3]:
eval_params = {
    'cmd':'evaluate',
    'data_path': './examples/train_titanic.csv'
}

ModelTrainer(**eval_params)

PosixPath('/Users/rsun/projects/code/pydatoolkit/examples/model_results')

# XGBClassifier Test

In [1]:
import os.path
import sys

sys.path.append(os.path.abspath(os.path.join(os.path.abspath(''),os.path.pardir)))

from datk.model import ModelTrainer

In [2]:
m = ModelTrainer(cmd='fit',data_path="./train_titanic.csv",yaml_path="./xgb_model.yaml",result_path="./model_results")

INFO - Entered kwargs: {'cmd': 'fit', 'data_path': './train_titanic.csv', 'yaml_path': './xgb_model.yaml', 'result_path': './model_results'}
INFO - You passed the configurations as a yaml file.
INFO - your chosen configuration: {'dataset': {'preprocess': {'encoding': {'type': 'oneHotEncoding', 'column': 'Sex'}, 'missing_values': 'mean', 'scale': {'method': 'standard', 'target': 'inputs'}}, 'split': {'shuffle': True, 'test_size': 0.2, 'stratify': 'default'}, 'type': 'csv'}, 'model': {'algorithm': 'XGBClassifier', 'type': 'classification', 'cross_validate': {'cv': 3, 'verbose': 1}, 'arguments': {'n_estimators': 100}}, 'target': ['Survived']}
INFO - dataset_props: {'preprocess': {'encoding': {'type': 'oneHotEncoding', 'column': 'Sex'}, 'missing_values': 'mean', 'scale': {'method': 'standard', 'target': 'inputs'}}, 'split': {'shuffle': True, 'test_size': 0.2, 'stratify': 'default'}, 'type': 'csv'}
model_props: {'algorithm': 'XGBClassifier', 'type': 'classification', 'cross_validate': {'cv': 3, 'verbose': 1}, 'arguments': {'n_estimators': 100}}
 target: ['Survived']

INFO - dataset shape: (891, 8)
INFO - dataset attributes: ['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
INFO - performing a one hot encoding ...
INFO - shape of the dataset after encoding => (891, 13)
INFO - Check for missing values in the dataset ...
Survived          0
Pclass            0
Age             177
SibSp             0
Parch             0
Fare              0
Sex_female        0
Sex_male          0
Sex_nan           0
Embarked_C        0
Embarked_Q        0
Embarked_S        0
Embarked_nan      0
dtype: int64
 ----------------------------------------------------------------------------------------------------
INFO - shape of the dataset after handling missing values => (891, 13)
INFO - y shape: (891, 1) and x shape: (891, 12)
INFO - performing a standard scaling ...
INFO - Solving a classification problem using ===> XGBClassifier
INFO - model arguments:
{'n_estimators': 100}
INFO - executing a XGBClassifier algorithm...
INFO - performing cross validation ...
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.2s finished
INFO - Folder /Users/rsun/projects/code/pydatoolkit/examples/model_results already exists
WARNING - data in the /Users/rsun/projects/code/pydatoolkit/examples/model_results folder will be overridden. If you don't want this, then move the current /Users/rsun/projects/code/pydatoolkit/examples/model_results to another path
INFO - Successfully created the directory in /Users/rsun/projects/code/pydatoolkit/examples/model_results
INFO - model saved successfully and can be found in the /Users/rsun/projects/code/pydatoolkit/examples/model_results folder
INFO - split option detected. The performance will be automatically evaluated using the test data portion
INFO - Calculating accuracy_score .....
INFO - type of target: binary
INFO - Calculating f1_score .....
INFO - type of target: binary
INFO - Calculating precision_score .....
INFO - type of target: binary
INFO - Calculating recall_score .....
INFO - type of target: binary
INFO - Calculating roc_auc_score .....
INFO - type of target: binary
INFO - saving fit description to /Users/rsun/projects/code/pydatoolkit/examples/model_results/description.json

In [3]:
m._load_model()

INFO - result path: /Users/rsun/projects/code/pydatoolkit/examples/model_results
INFO - loading model form /Users/rsun/projects/code/pydatoolkit/examples/model_results/model.sav

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [4]:
m.model.feature_importances_

array([0.16558272, 0.03144141, 0.05199086, 0.03429371, 0.03393079,
       0.5653124 , 0.        , 0.        , 0.02438377, 0.00956114,
       0.08350316, 0.        ], dtype=float32)

In [8]:
m.model.get_booster().feature_names

['f0', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11']