Sklearn Pipeline test

In [1]:
import sklearn
import numpy as np
import pandas as pd

In [6]:

df = pd.read_csv("./train.csv")

df.drop(['PassengerId','Name','Ticket','Cabin'],axis=1,inplace=True)

df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [7]:
df.isnull().mean()

Survived    0.000000
Pclass      0.000000
Sex         0.000000
Age         0.198653
SibSp       0.000000
Parch       0.000000
Fare        0.000000
Embarked    0.002245
dtype: float64

In [8]:
df1 = pd.get_dummies(df,dummy_na=True)

In [9]:
df1.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Sex_nan,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan
0,0,3,22.0,1,0,7.2500,0,1,0,0,0,1,0
1,1,1,38.0,1,0,71.2833,1,0,0,1,0,0,0
2,1,3,26.0,0,0,7.9250,1,0,0,0,0,1,0
3,1,1,35.0,1,0,53.1000,1,0,0,0,0,1,0
4,0,3,35.0,0,0,8.0500,0,1,0,0,0,1,0

In [198]:
from sklearn.pipeline import make_pipeline,Pipeline,FeatureUnion
from sklearn.impute import SimpleImputer, MissingIndicator
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer,make_column_selector


imputer = Pipeline([
        ("imputer", SimpleImputer(strategy="median",add_indicator=False))
    ])

In [199]:
col_transformer = ColumnTransformer([('imp',imputer,make_column_selector(dtype_include=np.number))])

In [204]:
df2 = pd.DataFrame(col_transformer.fit_transform(df1),
    columns=col_transformer.transformers_[0][2], # get column name
    index = df1.index
)

In [201]:
df2.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Sex_nan,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan
0,0.0,3.0,22.0,1.0,0.0,7.2500,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1.0,1.0,38.0,1.0,0.0,71.2833,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,3.0,26.0,0.0,0.0,7.9250,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,1.0,35.0,1.0,0.0,53.1000,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,3.0,35.0,0.0,0.0,8.0500,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [203]:
df1.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Sex_nan,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan
0,0,3,22.0,1,0,7.2500,0,1,0,0,0,1,0
1,1,1,38.0,1,0,71.2833,1,0,0,1,0,0,0
2,1,3,26.0,0,0,7.9250,1,0,0,0,0,1,0
3,1,1,35.0,1,0,53.1000,1,0,0,0,0,1,0
4,0,3,35.0,0,0,8.0500,0,1,0,0,0,1,0

In [205]:
import joblib
joblib.dump(col_transformer,'./col_transformer.bin')

['./col_transformer.bin']

In [206]:
ct = joblib.load('./col_transformer.bin')

In [208]:
df3 = pd.DataFrame(ct.transform(df1),
    columns=ct.transformers_[0][2], # get column name
    index = df1.index
)
df3.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Sex_nan,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan
0,0.0,3.0,22.0,1.0,0.0,7.2500,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1.0,1.0,38.0,1.0,0.0,71.2833,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,3.0,26.0,0.0,0.0,7.9250,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,1.0,35.0,1.0,0.0,53.1000,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,3.0,35.0,0.0,0.0,8.0500,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [211]:
!rm col_transformer.bin

rm: col_transformer.bin: No such file or directory
Binary_Classifier_Notebook.ipynb  random-forest_classification.yaml
evaluate.py                       random-forest_regression.yaml
example_classification.ipynb      sklearn_pipeline.ipynb
example_regression.ipynb          test.csv
fit                               test_titanic.csv
fit.py                            train.csv
housing.csv                       train_titanic.csv
model_classification.yaml         xgb_classification
model_regression.yaml             xgb_model_classification.yaml
model_results                     xgb_model_regression.yaml
predict.py                        xgb_regression